@charset "UTF-8";
.login-box-wrap{
    display: table;
    margin:0 auto;
    height:100%;
    width:22%;
    margin-top:10%;

}
.login-box{
    display:table-cell;
    vertical-align: middle;
}
.login-box h3{
    font-size:20px;
    font-weight: normal;
    text-align: center;
}
.login-logo{
    color:#8D9CAA;
    font-weight: bold;
    margin-bottom:25px;
}
.login-box .login-input{
    margin-top:20px;
}
.login-box .login-input input{
    color:#333;
    height:45px;
}
.login-box .login-tips{
    color:red;
    margin-top:15px;
}
.login-box button[type="button"]{
    width:100%;
    margin-top:15px;
    height:45px;
}
.alert-tips{
    position:absolute;
    top:0px;
    width:100%;
    z-index:1001;
    text-align: center;
    display:none;
}
.quick-action-box{
    width:100%;
    margin-bottom:20px;
    padding-left:12px;
}
.quick-action-box ul{
    margin-left:0px;
}
.quick-action-box ul li{
    display:inline-block;
    min-height:60px;
    vertical-align: middle;
    padding:10px 15px;
    margin-right:20px;
}
.quick-action-box ul li span{
    font-size:12px;
}
.quick-action-box ul li strong{
    margin-left:10px;
    font-size:18px;
}
.quick-action-box ul li.info{
    background-color:#27a9e3;
}
.quick-action-box ul li.success{
    background-color:#28b779;
}
.quick-action-box ul li.warning{
    background-color:#ffb848;
}
.quick-action-box ul li.danger{
    background-color:#da542e;
}
.quick-action-box ul li.primary{
    background-color:#2255a4;
}
.quick-action-box ul li a{
    display:block;
    color:#fff;
}
.quick-action-box ul li i{
    font-size:35px;
    display: block;
    margin-bottom:10px;
}
.pagination-box{
    text-align:right;
}
.pagination-box ul.pagination{
    margin:0px 0px;
}
.btn-panel{
    margin-bottom:15px;
}
.btn-panel a{
    margin-right:15px;
}
.form-control{
    display:inline-block;
}
.form-horizontal .form-tips{
    font-size:13px;
    color:#999;
}
.form-horizontal .form-group{
    margin-bottom:20px;
}
.treegrid-indent {
    width:16px;
    height: 16px;
    display: inline-block;
    position: relative;
}
.treegrid-expander {
    width:16px;
    height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
